@font-face { font-family: Disney; src: url('../fonts/waltograph42.ttf');} 


body {
	background-image: url("../images/background.gif");
	font-family: Disney;
}


#fullGame {
	border: 1px solid black;
	margin-top: 5%;
}

.col-12 {
	padding: 2%;
}

img {
	width: 500px;
	max-width: 90%;
}